<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd ">

<context:component-scan base-package="app.com"></context:component-scan>

<!-- <bean id="vehicle" class="app.com.Car"></bean>
 -->
<bean id="tyre" class="app.com.Tyre">

<!--  	<property name="brand" value="Suraj ka tyre"></property>  -->

<!-- <constructor-arg value="Surya Bhai ka Tyre"></constructor-arg> 
 --> 
</bean> 
 
 
</beans>